openapi: 3.1.0
info:
    title: Quiver Arrow API
    version: 1.0.0
    description: |
        The Quiver Arrow API enables developers to generate and edit SVG graphics using AI,
        as well as create chat completions with OpenAI-compatible endpoints.
        The API provides endpoints for model discovery, chat completions, and SVG generation/editing
        with support for streaming responses.
    contact:
        name: Quiver API Support
        url: https://quiver.ai/support
servers:
    - url: https://api.quiver.ai
      description: Production server
security:
    - BearerAuth: []
tags:
    - name: Chat
      description: Given a list of messages comprising a conversation, the model will return a response.
    - name: Models
      description: Operations for listing and retrieving available models
    - name: SVGs
      description: Operations for creating and transforming SVG graphics, including creating, editing and animating.
paths:
    /v1/chat/completions:
        post:
            x-hidden: true
            x-speakeasy-ignore: true
            operationId: createChatCompletion
            tags:
                - Chat
            summary: Create chat completion
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CreateChatCompletionRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CreateChatCompletionResponse"
                        text/event-stream:
                            schema:
                                $ref: "#/components/schemas/CreateChatCompletionStreamResponse"
            description: |
                Creates a model response for the given chat conversation.
    /v1/models:
        get:
            operationId: listModels
            tags:
                - Models
            summary: List models
            description: |
                Lists the currently available Arrow models, providing detailed information
                about each one including capabilities, pricing, and supported features.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListModelsResponse"
                            example:
                                object: list
                                data:
                                    - id: arrow-0.5
                                      object: model
                                      name: "Arrow 0.5"
                                      description: "Optimized for high-quality icon and illustration generation"
                                      created: 1704067200
                                      owned_by: quiver
                                      input_modalities: ["text", "image"]
                                      output_modalities: ["svg"]
                                      context_length: 128000
                                      max_output_length: 16384
                                      pricing:
                                          prompt: "0.000001"
                                          completion: "0.000002"
                                          image: "0.00001"
                                      supported_operations:
                                          - svg_generate
                                          - svg_edit
                                          - svg_animate
                                          - chat_completions
                                      svg_capabilities:
                                          supported_styles:
                                              [
                                                  "flat",
                                                  "outline",
                                                  "duotone",
                                                  "gradient",
                                              ]
                                          max_complexity: 4
                                          recommended_viewbox_sizes:
                                              [24, 48, 64, 128, 256, 512]
                                      supported_sampling_parameters:
                                          [
                                              "temperature",
                                              "top_p",
                                              "stop",
                                              "seed",
                                          ]
    /v1/models/{model}:
        get:
            operationId: retrieveModel
            tags:
                - Models
            summary: Retrieve model
            description: |
                Retrieves a model instance, providing detailed information about the model
                including capabilities, pricing, and supported features.

                This endpoint is compatible with the OpenAI SDK.
            parameters:
                - in: path
                  name: model
                  required: true
                  schema:
                      $ref: "#/components/schemas/ModelIdsShared"
                  description: The ID of the model to retrieve
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Model"
                            example:
                                id: arrow-0.5
                                object: model
                                name: "Arrow 0.5"
                                description: "Optimized for high-quality icon and illustration generation"
                                created: 1704067200
                                owned_by: quiver
                                input_modalities: ["text", "image"]
                                output_modalities: ["svg"]
                                context_length: 128000
                                max_output_length: 16384
                                pricing:
                                    prompt: "0.000001"
                                    completion: "0.000002"
                                    image: "0.00001"
                                supported_operations:
                                    - svg_generate
                                    - svg_edit
                                    - svg_animate
                                    - chat_completions
                                svg_capabilities:
                                    supported_styles:
                                        [
                                            "flat",
                                            "outline",
                                            "duotone",
                                            "gradient",
                                        ]
                                    max_complexity: 4
                                    recommended_viewbox_sizes:
                                        [24, 48, 64, 128, 256, 512]
                                supported_sampling_parameters:
                                    ["temperature", "top_p", "stop", "seed"]
                "404":
                    description: Model not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /v1/svgs/generations:
        post:
            operationId: generateSVG
            tags:
                - SVGs
            summary: Text to SVG
            description: |
                Generates one or more SVG graphics based on a text prompt and optional
                reference images. Supports streaming for real-time progressive rendering.

                When `stream` is set to `true`, the response will be sent as Server-Sent
                Events (SSE) with partial SVG updates followed by a final completion event.
            security:
                - BearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/GenerateSVGRequest"
                        examples:
                            basic:
                                summary: Basic SVG generation
                                value:
                                    model: arrow-0.5
                                    input:
                                        prompt: Generate an icon of a unicorn
                                        geometry:
                                            width: 512
                                            height: 512
                            advanced:
                                summary: Advanced generation with styling and references
                                value:
                                    model: arrow-0.5
                                    n: 2
                                    top_p: 1
                                    max_output_tokens: 2560
                                    stream: true
                                    temperature: 0.8
                                    input:
                                        instructions: Create a minimal, modern icon
                                        prompt: Generate an icon of a unicorn
                                        references:
                                            - url: https://example.com/uploads/source1.png
                                    canvas:
                                        aspect_ratio: "1:1"
                                        safe_zone:
                                            mode: relative
                                            value: 0.1
                                            overrides:
                                                bottom: 0.15
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SVGResponse"
                            example:
                                created: 1704067200
                                data:
                                    - svg: <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">...</svg>
                                      mime_type: image/svg+xml
                                usage:
                                    total_tokens: 1024
                                    input_tokens: 256
                                    output_tokens: 768
                                    input_tokens_details:
                                        text_tokens: 128
                                        image_tokens: 128
                                    output_tokens_details:
                                        svg_tokens: 768
                        text/event-stream:
                            x-speakeasy-sse-sentinel: "[DONE]"
                            schema:
                                $ref: "#/components/schemas/SVGStreamEvent"
                            example: |
                                event: svg_generate.reasoning
                                data: {"id":"svg-abc123","text":"Creating a minimalist icon with clean geometric shapes..."}

                                event: svg_generate.draft
                                data: {"id":"svg-abc123","svg":"<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\"><path d=\"M256 32..."}

                                event: svg_generate.draft
                                data: {"id":"svg-abc123","svg":"<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\"><path d=\"M256 32 L300 100 Z\"/></svg>"}

                                event: svg_generate.content
                                data: {"id":"svg-abc123","svg":"<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\"><path d=\"M256 32 L300 100 Z\"/></svg>","usage":{"total_tokens":1024,"input_tokens":256,"output_tokens":768}}

                                data: [DONE]
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "429":
                    description: Rate limit exceeded
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /v1/svgs/edits:
        post:
            operationId: editSVG
            tags:
                - SVGs
            summary: Edit SVGs
            description: |
                Edits an existing SVG graphic based on a text prompt and optional
                reference images. The source SVG can be provided as an inline string
                or URL. Supports streaming for real-time progressive rendering.

                **NOTE: This endpoint is currently not implemented.**

                When `stream` is set to `true`, the response will be sent as Server-Sent
                Events (SSE) with partial SVG updates followed by a final completion event.
            security:
                - BearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/EditSVGRequest"
                        examples:
                            basic:
                                summary: Basic SVG edit with inline source
                                value:
                                    model: arrow-0.5
                                    input:
                                        prompt: Make the unicorn more colorful
                                        source:
                                            svg: <svg xmlns="http://www.w3.org/2000/svg">...</svg>
                            url-source:
                                summary: Edit using SVG from URL
                                value:
                                    model: arrow-0.5
                                    input:
                                        prompt: Simplify the design and use fewer paths
                                        source:
                                            svg_url: https://example.com/source.svg
                            streaming:
                                summary: Streaming edit with style modifications
                                value:
                                    model: arrow-0.5
                                    stream: true
                                    temperature: 0.7
                                    input:
                                        prompt: Convert to a duotone style
                                        source:
                                            svg: <svg xmlns="http://www.w3.org/2000/svg">...</svg>
            responses:
                "501":
                    description: Not Implemented
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SVGResponse"
                            example:
                                created: 1704067200
                                data:
                                    - svg: <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">...</svg>
                                      mime_type: image/svg+xml
                                usage:
                                    total_tokens: 1536
                                    input_tokens: 768
                                    output_tokens: 768
                                    input_tokens_details:
                                        text_tokens: 128
                                        image_tokens: 0
                                        svg_tokens: 640
                                    output_tokens_details:
                                        svg_tokens: 768
                        text/event-stream:
                            x-speakeasy-sse-sentinel: "[DONE]"
                            schema:
                                $ref: "#/components/schemas/SVGStreamEvent"
                            example: |
                                event: svg_edit.reasoning
                                data: {"id":"svg-def456","text":"Analyzing the SVG structure to apply the requested color change..."}

                                event: svg_edit.draft
                                data: {"id":"svg-def456","svg":"<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\"><path fill=\"#000000\"..."}

                                event: svg_edit.draft
                                data: {"id":"svg-def456","svg":"<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\"><path fill=\"#000000\" d=\"M256 32 L300 100 Z\"/></svg>"}

                                event: svg_edit.content
                                data: {"id":"svg-def456","svg":"<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\"><path fill=\"#000000\" d=\"M256 32 L300 100 Z\"/></svg>","usage":{"total_tokens":1536,"input_tokens":768,"output_tokens":768}}

                                data: [DONE]
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "429":
                    description: Rate limit exceeded
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /v1/svgs/animations:
        post:
            operationId: animateSVG
            tags:
                - SVGs
            summary: Animate SVGs
            description: |
                Adds CSS animations to an existing SVG graphic based on a motion prompt.
                The source SVG can be provided as an inline string or URL.
                Supports streaming for real-time progressive rendering.

                **NOTE: This endpoint is currently not implemented.**

                When `stream` is set to `true`, the response will be sent as Server-Sent
                Events (SSE) with partial SVG updates followed by a final completion event.
            security:
                - BearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/AnimateSVGRequest"
                        examples:
                            basic:
                                summary: Basic SVG animation
                                value:
                                    model: arrow-0.5
                                    input:
                                        motion_prompt: Add a gentle floating animation
                                        source:
                                            svg: <svg xmlns="http://www.w3.org/2000/svg">...</svg>
                            advanced:
                                summary: Animation with custom duration and easing
                                value:
                                    model: arrow-0.5
                                    stream: true
                                    duration: 3
                                    easing: ease-in-out
                                    input:
                                        motion_prompt: Make the icon pulse and rotate slowly
                                        source:
                                            svg_url: https://example.com/icon.svg
            responses:
                "501":
                    description: Not Implemented
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SVGResponse"
                            example:
                                created: 1704067200
                                data:
                                    - svg: <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><style>@keyframes float{...}</style>...</svg>
                                      mime_type: image/svg+xml
                                usage:
                                    total_tokens: 1024
                                    input_tokens: 512
                                    output_tokens: 512
                        text/event-stream:
                            x-speakeasy-sse-sentinel: "[DONE]"
                            schema:
                                $ref: "#/components/schemas/SVGStreamEvent"
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "429":
                    description: Rate limit exceeded
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /v1/svgs/vectorizations:
        post:
            operationId: vectorizeSVG
            tags:
                - SVGs
            summary: Image to SVG
            description: |
                Converts a raster image (PNG, JPEG, WebP) into an SVG graphic.
                Requires exactly one input image. Supports streaming for real-time
                progressive rendering.

                When `stream` is set to `true`, the response uses a two-phase streaming model:

                1. **Draft phase** (`svg_vectorize.draft` events): Raw SVG chunks are streamed
                   in real-time as the model generates them. These provide immediate visual
                   feedback but may not be fully optimized.

                2. **Content phase** (`svg_vectorize.content` event): After the draft is complete,
                   a refined and optimized SVG is sent as the final result with usage statistics.
            security:
                - BearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/VectorizeSVGRequest"
                        examples:
                            basic:
                                summary: Basic image vectorization
                                value:
                                    model: arrow-0.5
                                    input:
                                        image:
                                            url: https://example.com/logo.png
                            with-simplification:
                                summary: Vectorization with auto-simplification for photos
                                value:
                                    model: arrow-0.5
                                    stream: true
                                    simplify_if_needed: true
                                    input:
                                        image:
                                            url: https://example.com/photo.jpg
                                        instructions: Simplify to minimal geometric shapes
                                    canvas:
                                        safe_zone:
                                            mode: relative
                                            value: 0.1
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SVGResponse"
                            example:
                                created: 1704067200
                                data:
                                    - svg: <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">...</svg>
                                      mime_type: image/svg+xml
                                usage:
                                    total_tokens: 1024
                                    input_tokens: 512
                                    output_tokens: 512
                                    input_tokens_details:
                                        text_tokens: 0
                                        image_tokens: 512
                                    output_tokens_details:
                                        svg_tokens: 512
                        text/event-stream:
                            x-speakeasy-sse-sentinel: "[DONE]"
                            schema:
                                $ref: "#/components/schemas/SVGStreamEvent"
                            example: |
                                event: svg_vectorize.draft
                                data: {"id":"svg-xyz789","svg":"<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\"><path d=\"M100 50..."}

                                event: svg_vectorize.draft
                                data: {"id":"svg-xyz789","svg":"<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\"><path d=\"M100 50 L200 150 Z\"/></svg>"}

                                event: svg_vectorize.content
                                data: {"id":"svg-xyz789","svg":"<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\"><path d=\"M100 50 L200 150 Z\"/></svg>","usage":{"total_tokens":1024,"input_tokens":512,"output_tokens":512}}

                                data: [DONE]
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "429":
                    description: Rate limit exceeded
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /v1/svgs/vectorizations/checks:
        post:
            operationId: checkSVGVectorizability
            tags:
                - SVGs
            summary: Check image vectorizability
            description: |
                Analyzes an image and returns whether it is suitable for vectorization.
                Use this for pre-flight validation before calling the vectorize endpoint.
            security:
                - BearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/VectorizabilityCheckRequest"
                        examples:
                            url:
                                summary: Check image from URL
                                value:
                                    image:
                                        url: https://example.com/image.png
                            base64:
                                summary: Check base64-encoded image
                                value:
                                    image:
                                        base64: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==
            responses:
                "200":
                    description: Vectorizability check result
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/VectorizabilityCheckResponse"
                            examples:
                                vectorizable:
                                    summary: Image is vectorizable
                                    value:
                                        vectorizable: true
                                not-vectorizable:
                                    summary: Image is not vectorizable
                                    value:
                                        vectorizable: false
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "429":
                    description: Rate limit exceeded
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /v1/svgs/icons/generations:
        post:
            operationId: generateIcon
            tags:
                - SVGs
            summary: Generate Icons
            description: |
                Generates one or more icons based on a text prompt.
                Icons are always generated with a 1:1 aspect ratio and optimized
                for use at various scales.

                **NOTE: This endpoint is currently not implemented.**

                Supports streaming for real-time progressive rendering.
            security:
                - BearerAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/GenerateIconRequest"
                        examples:
                            basic:
                                summary: Basic icon generation
                                value:
                                    model: arrow-0.5
                                    input:
                                        prompt: A minimalist unicorn icon
                            with-reference:
                                summary: Icon with style reference
                                value:
                                    model: arrow-0.5
                                    stream: true
                                    input:
                                        prompt: A sleek, modern unicorn icon
                                        references:
                                            - url: https://example.com/style-reference.png
            responses:
                "501":
                    description: Not Implemented
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SVGResponse"
                            example:
                                created: 1704067200
                                data:
                                    - svg: <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">...</svg>
                                      mime_type: image/svg+xml
                                usage:
                                    total_tokens: 1024
                                    input_tokens: 256
                                    output_tokens: 768
                        text/event-stream:
                            x-speakeasy-sse-sentinel: "[DONE]"
                            schema:
                                $ref: "#/components/schemas/SVGStreamEvent"
                "400":
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "429":
                    description: Rate limit exceeded
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
components:
    securitySchemes:
        BearerAuth:
            type: http
            scheme: bearer
            description: |
                Authentication via Bearer token with an opaque API key.
                Send `Authorization: Bearer YOUR_API_KEY`.
    schemas:
        # Chat Completion Schemas
        ChatCompletionRequestAssistantMessage:
            type: object
            title: Assistant message
            description: |
                Messages sent by the model in response to user messages.
            properties:
                content:
                    anyOf:
                        - type: string
                          description: The contents of the assistant message.
                          title: Text content
                        - type: array
                          description: >-
                              An array of content parts with a defined type. Can be one or more of type `text`, or exactly one of type `refusal`.
                          title: Array of content parts
                          items:
                              $ref: "#/components/schemas/ChatCompletionRequestAssistantMessageContentPart"
                          minItems: 1
                    nullable: true
                refusal:
                    anyOf:
                        - type: string
                          description: The refusal message by the assistant.
                    nullable: true
                role:
                    type: string
                    enum:
                        - assistant
                    description: The role of the messages author, in this case `assistant`.
                name:
                    type: string
                    description: >-
                        An optional name for the participant. Provides the model information to differentiate between participants of the same role.
            required:
                - role
        ChatCompletionRequestAssistantMessageContentPart:
            anyOf:
                - $ref: "#/components/schemas/ChatCompletionRequestMessageContentPartText"
                - $ref: "#/components/schemas/ChatCompletionRequestMessageContentPartRefusal"
            discriminator:
                propertyName: type
                mapping:
                    text: "#/components/schemas/ChatCompletionRequestMessageContentPartText"
                    refusal: "#/components/schemas/ChatCompletionRequestMessageContentPartRefusal"
        ChatCompletionRequestMessage:
            anyOf:
                - $ref: "#/components/schemas/ChatCompletionRequestSystemMessage"
                - $ref: "#/components/schemas/ChatCompletionRequestUserMessage"
                - $ref: "#/components/schemas/ChatCompletionRequestAssistantMessage"
            discriminator:
                propertyName: role
                mapping:
                    system: "#/components/schemas/ChatCompletionRequestSystemMessage"
                    user: "#/components/schemas/ChatCompletionRequestUserMessage"
                    assistant: "#/components/schemas/ChatCompletionRequestAssistantMessage"
        ChatCompletionRequestMessageContentPartImage:
            type: object
            title: Image content part
            description: |
                Learn about [image inputs](https://platform.openai.com/docs/guides/vision).
            properties:
                type:
                    type: string
                    enum:
                        - image_url
                    description: The type of the content part.
                image_url:
                    type: object
                    properties:
                        url:
                            type: string
                            description: Either a URL of the image or the base64 encoded image data.
                            format: uri
                        detail:
                            type: string
                            description: >-
                                Specifies the detail level of the image.
                            enum:
                                - auto
                                - low
                                - high
                            default: auto
                    required:
                        - url
            required:
                - type
                - image_url
        ChatCompletionRequestMessageContentPartRefusal:
            type: object
            title: Refusal content part
            properties:
                type:
                    type: string
                    enum:
                        - refusal
                    description: The type of the content part.
                refusal:
                    type: string
                    description: The refusal message generated by the model.
            required:
                - type
                - refusal
        ChatCompletionRequestMessageContentPartText:
            type: object
            title: Text content part
            description: |
                Learn about [text inputs](https://platform.openai.com/docs/guides/text-generation).
            properties:
                type:
                    type: string
                    enum:
                        - text
                    description: The type of the content part.
                text:
                    type: string
                    description: The text content.
            required:
                - type
                - text
        ChatCompletionRequestSystemMessage:
            type: object
            title: System message
            description: |
                Developer-provided instructions that the model should follow, regardless of
                messages sent by the user.
            properties:
                content:
                    description: The contents of the system message.
                    anyOf:
                        - type: string
                          description: The contents of the system message.
                          title: Text content
                        - type: array
                          description: >-
                              An array of content parts with a defined type. For system messages, only type `text` is supported.
                          title: Array of content parts
                          items:
                              $ref: "#/components/schemas/ChatCompletionRequestSystemMessageContentPart"
                          minItems: 1
                role:
                    $ref: "#/components/schemas/ChatCompletionRole"
                    description: The role of the messages author, in this case `system`.
                name:
                    type: string
                    description: >-
                        An optional name for the participant. Provides the model information to differentiate between participants of the same role.
            required:
                - content
                - role
        ChatCompletionRequestSystemMessageContentPart:
            anyOf:
                - $ref: "#/components/schemas/ChatCompletionRequestMessageContentPartText"
        ChatCompletionRequestToolMessage:
            type: object
            title: Tool message
            properties:
                role:
                    $ref: "#/components/schemas/ChatCompletionRole"
                    description: The role of the messages author, in this case `tool`.
                    content:
                        description: The contents of the tool message.
                        anyOf:
                            - type: string
                              description: The contents of the tool message.
                              title: Text content
                            - type: array
                              description: >-
                                  An array of content parts with a defined type. For tool messages, only type `text` is supported.
                              title: Array of content parts
                              items:
                                  $ref: "#/components/schemas/ChatCompletionRequestToolMessageContentPart"
                              minItems: 1
                    tool_call_id:
                        type: string
                        description: Tool call that this message is responding to.
            required:
                - role
                - content
                - tool_call_id
        ChatCompletionRequestToolMessageContentPart:
            anyOf:
                - $ref: "#/components/schemas/ChatCompletionRequestMessageContentPartText"
        ChatCompletionRequestUserMessage:
            type: object
            title: User message
            description: |
                Messages sent by an end user, containing prompts or additional context
                information.
            properties:
                content:
                    description: |
                        The contents of the user message.
                    anyOf:
                        - type: string
                          description: The text contents of the message.
                          title: Text content
                        - type: array
                          description: >-
                              An array of content parts with a defined type. Can contain text or image inputs.
                          title: Array of content parts
                          items:
                              $ref: "#/components/schemas/ChatCompletionRequestUserMessageContentPart"
                          minItems: 1
                role:
                    $ref: "#/components/schemas/ChatCompletionRole"
                    description: The role of the messages author, in this case `user`.
                name:
                    type: string
                    description: >-
                        An optional name for the participant. Provides the model information to differentiate between participants of the same role.
            required:
                - content
                - role
        ChatCompletionRequestUserMessageContentPart:
            anyOf:
                - $ref: "#/components/schemas/ChatCompletionRequestMessageContentPartText"
                - $ref: "#/components/schemas/ChatCompletionRequestMessageContentPartImage"
            discriminator:
                propertyName: type
                mapping:
                    text: "#/components/schemas/ChatCompletionRequestMessageContentPartText"
                    image_url: "#/components/schemas/ChatCompletionRequestMessageContentPartImage"
        ChatCompletionResponseMessage:
            type: object
            description: A chat completion message generated by the model.
            properties:
                content:
                    anyOf:
                        - type: string
                          description: The contents of the message.
                    nullable: true
                refusal:
                    anyOf:
                        - type: string
                          description: The refusal message generated by the model.
                    nullable: true
                role:
                    $ref: "#/components/schemas/ChatCompletionRole"
                    description: The role of the messages author, in this case `assistant`.
            required:
                - role
                - content
                - refusal
        ChatCompletionStreamOptions:
            anyOf:
                - description: |
                      Options for streaming response. Only set this when you set `stream: true`.
                  type: object
                  properties:
                      include_usage:
                          type: boolean
                          description: |
                              If set, an additional chunk will be streamed before the `data: [DONE]`
                              message. The `usage` field on this chunk shows the token usage statistics
                              for the entire request, and the `choices` field will always be an empty
                              array.

                              All other chunks will also include a `usage` field, but with a null
                              value. **NOTE:** If the stream is interrupted, you may not receive the
                              final usage chunk which contains the total token usage for the request.
                      include_obfuscation:
                          type: boolean
                          description: |
                              When true, stream obfuscation will be enabled. Stream obfuscation adds
                              random characters to an `obfuscation` field on streaming delta events to
                              normalize payload sizes as a mitigation to certain side-channel attacks.
                              These obfuscation fields are included by default, but add a small amount
                              of overhead to the data stream. You can set `include_obfuscation` to
                              false to optimize for bandwidth if you trust the network links between
                              your application and the OpenAI API.
            nullable: true
            x-omitempty: true
        ChatCompletionStreamResponseDelta:
            type: object
            description: A chat completion delta generated by streamed model responses.
            properties:
                content:
                    type: string
                    description: The contents of the chunk message.
                    nullable: true
                role:
                    type: string
                    enum:
                        - system
                        - user
                        - assistant
                    description: The role of the author of this message.
                refusal:
                    type: string
                    description: The refusal message generated by the model.
                    nullable: true
        ChatCompletionTokenLogprob:
            type: object
            properties:
                token:
                    description: The token.
                    type: string
                logprob:
                    description: >-
                        The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value `-9999.0` is used to signify that the token is very unlikely.
                    type: number
                bytes:
                    type: array
                    description: >-
                        A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be `null` if there is no bytes representation for the token.
                    items:
                        type: integer
                    nullable: true
                top_logprobs:
                    description: >-
                        List of the most likely tokens and their log probability, at this token position. In rare cases, there may be fewer than the number of requested `top_logprobs` returned.
                    type: array
                    items:
                        type: object
                        properties:
                            token:
                                description: The token.
                                type: string
                            logprob:
                                description: >-
                                    The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value `-9999.0` is used to signify that the token is very unlikely.
                                type: number
                            bytes:
                                type: array
                                description: >-
                                    A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be `null` if there is no bytes representation for the token.
                                items:
                                    type: integer
                                nullable: true
                        required:
                            - token
                            - logprob
                            - bytes
            required:
                - token
                - logprob
                - bytes
                - top_logprobs
        ChatCompletionRole:
            type: string
            enum:
                - system
                - user
                - assistant
                - tool
            x-enum-varnames:
                - System
                - User
                - Assistant
                - Tool
            description: The role of the message author
        CompletionUsage:
            type: object
            description: Usage statistics for the completion request.
            properties:
                completion_tokens:
                    type: integer
                    default: 0
                    description: Number of tokens in the generated completion.
                prompt_tokens:
                    type: integer
                    default: 0
                    description: Number of tokens in the prompt.
                total_tokens:
                    type: integer
                    default: 0
                    description: Total number of tokens used in the request (prompt + completion).
                completion_tokens_details:
                    type: object
                    description: Breakdown of tokens used in a completion.
                    properties:
                        accepted_prediction_tokens:
                            type: integer
                            default: 0
                            description: |
                                When using Predicted Outputs, the number of tokens in the
                                prediction that appeared in the completion.
                        audio_tokens:
                            type: integer
                            default: 0
                            description: Audio input tokens generated by the model.
                        reasoning_tokens:
                            type: integer
                            default: 0
                            description: Tokens generated by the model for reasoning.
                        rejected_prediction_tokens:
                            type: integer
                            default: 0
                            description: |
                                When using Predicted Outputs, the number of tokens in the
                                prediction that did not appear in the completion. However, like
                                reasoning tokens, these tokens are still counted in the total
                                completion tokens for purposes of billing, output, and context window
                                limits.
                prompt_tokens_details:
                    type: object
                    description: Breakdown of tokens used in the prompt.
                    properties:
                        audio_tokens:
                            type: integer
                            default: 0
                            description: Audio input tokens present in the prompt.
                        cached_tokens:
                            type: integer
                            default: 0
                            description: Cached tokens present in the prompt.
            required:
                - prompt_tokens
                - completion_tokens
                - total_tokens
        CreateChatCompletionRequest:
            allOf:
                - $ref: "#/components/schemas/CreateModelResponseProperties"
                - type: object
                  properties:
                      messages:
                          description: >
                              A list of messages comprising the conversation so far.

                          type: array
                          minItems: 1
                          items:
                              $ref: "#/components/schemas/ChatCompletionRequestMessage"
                      model:
                          description: >
                              Model ID used to generate the response.

                          $ref: "#/components/schemas/ModelIdsShared"
                      reasoning_effort:
                          $ref: "#/components/schemas/ReasoningEffort"
                      frequency_penalty:
                          type: number
                          default: 0
                          minimum: -2
                          maximum: 2
                          nullable: true
                          x-omitempty: true
                          description: |
                              Number between -2.0 and 2.0. Positive values penalize new tokens based on
                              their existing frequency in the text so far, decreasing the model's
                              likelihood to repeat the same line verbatim.
                      presence_penalty:
                          type: number
                          default: 0
                          minimum: -2
                          maximum: 2
                          x-omitempty: true
                          nullable: true
                          description: |
                              Number between -2.0 and 2.0. Positive values penalize new tokens based on
                              whether they appear in the text so far, increasing the model's likelihood
                              to talk about new topics.
                      top_logprobs:
                          x-omitempty: true
                          description: |
                              An integer between 0 and 20 specifying the number of most likely tokens to
                              return at each token position, each with an associated log probability.
                              `logprobs` must be set to `true` if this parameter is used.
                          type: integer
                          minimum: 0
                          maximum: 20
                          nullable: true
                      stream:
                          description: >
                              If set to true, the model response data will be streamed to the client as it is generated using server-sent events.

                          type: boolean
                          default: false
                          nullable: true
                          x-go-type-skip-optional-pointer: true
                      stop:
                          $ref: "#/components/schemas/StopConfiguration"
                      logprobs:
                          x-omitempty: true
                          description: |
                              Whether to return log probabilities of the output tokens or not. If true,
                              returns the log probabilities of each output token returned in the
                              `content` of `message`.
                          type: boolean
                          default: false
                          nullable: true
                      max_tokens:
                          description: |
                              The maximum number of tokens that can be generated in the
                              chat completion. This value can be used to control costs for text generated via API.

                              This value is now deprecated in favor of `max_completion_tokens`.
                          type: integer
                          nullable: true
                          x-omitempty: true
                          deprecated: true
                      max_completion_tokens:
                          description: |
                              An upper bound for the number of tokens that can be generated for a completion,
                              including visible output tokens and reasoning tokens.
                          type: integer
                          nullable: true
                          x-omitempty: true
                      seed:
                          type: integer
                          nullable: true
                          x-omitempty: true
                          deprecated: true
                          description: >
                              This feature is in Beta.

                              If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same `seed` and parameters should return the same result.

                              Determinism is not guaranteed.

                      stream_options:
                          $ref: "#/components/schemas/ChatCompletionStreamOptions"
                  required:
                      - model
                      - messages
        CreateChatCompletionResponse:
            type: object
            description: Represents a chat completion response returned by model, based on the provided input.
            properties:
                id:
                    type: string
                    description: A unique identifier for the chat completion.
                choices:
                    type: array
                    description: A list of chat completion choices. Can be more than one if `n` is greater than 1.
                    items:
                        type: object
                        required:
                            - finish_reason
                            - index
                            - message
                            - logprobs
                        properties:
                            finish_reason:
                                type: string
                                description: >
                                    The reason the model stopped generating tokens. This will be `stop` if the model hit a natural stop point or a provided stop sequence, `length` if the maximum number of tokens specified in the request was reached, `content_filter` if content was omitted due to a flag from our content filters.

                                enum:
                                    - stop
                                    - length
                                    - content_filter
                            index:
                                type: integer
                                description: The index of the choice in the list of choices.
                            message:
                                $ref: "#/components/schemas/ChatCompletionResponseMessage"
                            logprobs:
                                type: object
                                description: Log probability information for the choice.
                                nullable: true
                                properties:
                                    content:
                                        type: array
                                        description: A list of message content tokens with log probability information.
                                        items:
                                            $ref: "#/components/schemas/ChatCompletionTokenLogprob"
                                        nullable: true
                                    refusal:
                                        type: array
                                        description: A list of message refusal tokens with log probability information.
                                        items:
                                            $ref: "#/components/schemas/ChatCompletionTokenLogprob"
                                        nullable: true
                                required:
                                    - content
                                    - refusal
                created:
                    type: integer
                    description: The Unix timestamp (in seconds) of when the chat completion was created.
                model:
                    type: string
                    description: The model used for the chat completion.
                object:
                    type: string
                    description: The object type, which is always `chat.completion`.
                    enum:
                        - chat.completion
                usage:
                    $ref: "#/components/schemas/CompletionUsage"
            required:
                - choices
                - created
                - id
                - model
                - object
        CreateChatCompletionStreamResponse:
            type: object
            description: |
                Represents a streamed chunk of a chat completion response returned
                by the model, based on the provided input.
            properties:
                id:
                    type: string
                    description: A unique identifier for the chat completion. Each chunk has the same ID.
                choices:
                    type: array
                    description: >
                        A list of chat completion choices. Can contain more than one elements if `n` is greater than 1. Can also be empty for the last chunk if you set `stream_options: {"include_usage": true}`.

                    items:
                        type: object
                        required:
                            - delta
                            - finish_reason
                            - index
                        properties:
                            delta:
                                $ref: "#/components/schemas/ChatCompletionStreamResponseDelta"
                            logprobs:
                                description: Log probability information for the choice.
                                type: object
                                nullable: true
                                properties:
                                    content:
                                        description: A list of message content tokens with log probability information.
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/ChatCompletionTokenLogprob"
                                        nullable: true
                                    refusal:
                                        description: A list of message refusal tokens with log probability information.
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/ChatCompletionTokenLogprob"
                                        nullable: true
                                required:
                                    - content
                                    - refusal
                            finish_reason:
                                type: string
                                description: >
                                    The reason the model stopped generating tokens. This will be `stop` if the model hit a natural stop point or a provided stop sequence, `length` if the maximum number of tokens specified in the request was reached, `content_filter` if content was omitted due to a flag from our content filters.

                                enum:
                                    - stop
                                    - length
                                    - content_filter
                                nullable: true
                            index:
                                type: integer
                                description: The index of the choice in the list of choices.
                created:
                    type: integer
                    description: >-
                        The Unix timestamp (in seconds) of when the chat completion was created. Each chunk has the same timestamp.
                model:
                    type: string
                    description: The model to generate the completion.
                object:
                    type: string
                    description: The object type, which is always `chat.completion.chunk`.
                    enum:
                        - chat.completion.chunk
                usage:
                    $ref: "#/components/schemas/CompletionUsage"
                    nullable: true
                    description: |
                        An optional field that will only be present when you set
                        `stream_options: {"include_usage": true}` in your request. When present, it
                        contains a null value **except for the last chunk** which contains the
                        token usage statistics for the entire request.

                        **NOTE:** If the stream is interrupted or cancelled, you may not
                        receive the final usage chunk which contains the total token usage for
                        the request.
            required:
                - choices
                - created
                - id
                - model
                - object
        CreateModelResponseProperties:
            allOf:
                - $ref: "#/components/schemas/ModelResponseProperties"
                - type: object
                  properties:
                      top_logprobs:
                          description: |
                              An integer between 0 and 20 specifying the number of most likely tokens to
                              return at each token position, each with an associated log probability.
                          type: integer
                          minimum: 0
                          maximum: 20
        ModelIdsShared:
            type: string
            enum:
                - arrow-0.5
                - arrow-0.5-preview
            x-enum-varnames:
                - Arrow05
                - Arrow05Preview
        ModelResponseProperties:
            type: object
            properties:
                top_logprobs:
                    type: integer
                    description: |
                        An integer between 0 and 20 specifying the number of most likely tokens to
                        return at each token position, each with an associated log probability.
                    minimum: 0
                    maximum: 20
                    nullable: true
                    x-omitempty: true
                temperature:
                    type: number
                    minimum: 0
                    maximum: 2
                    default: 1
                    example: 1
                    description: >
                        What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.

                        We generally recommend altering this or `top_p` but not both.

                    nullable: true
                    x-omitempty: true
                top_p:
                    type: number
                    minimum: 0
                    maximum: 1
                    default: 1
                    example: 1
                    description: |
                        An alternative to sampling with temperature, called nucleus sampling,
                        where the model considers the results of the tokens with top_p probability
                        mass. So 0.1 means only the tokens comprising the top 10% probability mass
                        are considered.

                        We generally recommend altering this or `temperature` but not both.
                    nullable: true
                    x-omitempty: true
        ReasoningEffort:
            type: string
            enum:
                - minimal
                - low
                - medium
                - high
            default: medium
            description: |
                Constrains effort on reasoning for reasoning models.
                Currently supported values are `minimal`, `low`, `medium`, and `high`. Reducing
                reasoning effort can result in faster responses and fewer tokens used
                on reasoning in a response.
            nullable: true
            x-omitempty: true
        StopConfiguration:
            description: |
                Up to 4 sequences where the API will stop generating further tokens. The
                returned text will not contain the stop sequence.
            nullable: true
            x-omitempty: true
            anyOf:
                - type: string
                  default: <|endoftext|>
                  example: ""
                  nullable: true
                - type: array
                  minItems: 1
                  maxItems: 4
                  items:
                      type: string
                      example: '["\n"]'
        # SVG and Model Schemas
        Error:
            type: object
            required:
                - type
                - message
            properties:
                type:
                    type: string
                    description: The type of error
                    example: invalid_request_error
                message:
                    type: string
                    description: A human-readable error message
                    example: Invalid API key provided
                code:
                    type: string
                    description: Machine-readable error code
                    example: invalid_api_key
                param:
                    type: string
                    description: The parameter that caused the error, if applicable
                    example: api_key
                    nullable: true
        Usage:
            type: object
            required:
                - total_tokens
                - input_tokens
                - output_tokens
            properties:
                total_tokens:
                    type: integer
                    description: Total number of tokens used
                    example: 1024
                input_tokens:
                    type: integer
                    description: Number of tokens in the input
                    example: 256
                output_tokens:
                    type: integer
                    description: Number of tokens in the output
                    example: 768
                input_tokens_details:
                    type: object
                    description: Breakdown of input tokens by type
                    properties:
                        text_tokens:
                            type: integer
                            description: Number of text tokens in the input
                            example: 128
                        image_tokens:
                            type: integer
                            description: Number of image tokens in the input
                            example: 128
                        svg_tokens:
                            type: integer
                            description: Number of SVG tokens in the input
                            example: 128
                output_tokens_details:
                    type: object
                    description: Breakdown of output tokens by type
                    properties:
                        svg_tokens:
                            type: integer
                            description: Number of SVG tokens in the output
                            example: 768
        Model:
            title: Model
            description: |
                Describes a QuiverAI model offering that can be used with the API.
                This schema is compatible with OpenAI SDK and OpenRouter.
            type: object
            required:
                - id
                - object
                - created
                - owned_by
            properties:
                id:
                    type: string
                    description: The model identifier, which can be referenced in the API endpoints.
                    example: arrow-0.5
                object:
                    type: string
                    description: The object type, always "model" for model objects.
                    enum: [model]
                    default: model
                    example: model
                name:
                    type: string
                    description: Human-readable name of the model.
                    example: "Arrow 0.5"
                description:
                    type: string
                    description: A description of the model and its capabilities.
                    example: "Optimized for high-quality icon and illustration generation"
                created:
                    type: integer
                    description: The Unix timestamp (in seconds) when the model was created.
                    example: 1704067200
                owned_by:
                    type: string
                    description: The organization that owns the model.
                    example: quiver
                    default: quiver
                input_modalities:
                    type: array
                    description: Input modalities supported by the model.
                    items:
                        $ref: "#/components/schemas/Modality"
                    example: ["text", "image"]
                output_modalities:
                    type: array
                    description: Output modalities supported by the model.
                    items:
                        $ref: "#/components/schemas/Modality"
                    example: ["svg"]
                context_length:
                    type: integer
                    description: Maximum context length in tokens.
                    example: 128000
                max_output_length:
                    type: integer
                    description: Maximum output length in tokens.
                    example: 16384
                pricing:
                    $ref: "#/components/schemas/ModelPricing"
                supported_operations:
                    type: array
                    description: API operations supported by this model.
                    items:
                        $ref: "#/components/schemas/SupportedOperation"
                    example:
                        [
                            "svg_generate",
                            "svg_edit",
                            "svg_animate",
                            "chat_completions",
                        ]
                svg_capabilities:
                    $ref: "#/components/schemas/SVGCapabilities"
                supported_sampling_parameters:
                    type: array
                    description: Sampling parameters supported by the model.
                    items:
                        $ref: "#/components/schemas/SamplingParameter"
                    example: ["temperature", "top_p", "stop", "seed"]
        Modality:
            type: string
            description: Input/output modality type.
            enum:
                - text
                - image
                - svg
            example: text
        SupportedOperation:
            type: string
            description: API operation that the model supports.
            enum:
                - svg_generate
                - svg_edit
                - svg_animate
                - svg_vectorize
                - chat_completions
            example: svg_generate
        SVGCapabilities:
            type: object
            description: SVG-specific capabilities and recommendations for the model.
            properties:
                supported_styles:
                    type: array
                    description: Style presets the model supports.
                    items:
                        $ref: "#/components/schemas/StylePreset"
                    example:
                        [
                            "flat",
                            "outline",
                            "duotone",
                            "gradient",
                            "isometric",
                            "hand_drawn",
                        ]
                max_complexity:
                    type: integer
                    description: Maximum complexity level (1-4) the model can handle well.
                    minimum: 1
                    maximum: 4
                    example: 4
                recommended_viewbox_sizes:
                    type: array
                    description: Recommended viewBox sizes for optimal output quality.
                    items:
                        type: integer
                    example: [24, 48, 64, 128, 256, 512]
        Quantization:
            type: string
            description: Model quantization level.
            enum:
                - int4
                - int8
                - fp4
                - fp6
                - fp8
                - fp16
                - bf16
                - fp32
        SamplingParameter:
            type: string
            description: Supported sampling parameter.
            enum:
                - temperature
                - top_p
                - top_k
                - repetition_penalty
                - frequency_penalty
                - presence_penalty
                - stop
                - seed
        ModelFeature:
            type: string
            description: Supported model feature.
            enum:
                - tools
                - json_mode
                - structured_outputs
                - web_search
                - reasoning
        ModelPricing:
            type: object
            description: Pricing information for the model (per token, in USD as strings to avoid floating point issues).
            required:
                - prompt
                - completion
            properties:
                prompt:
                    type: string
                    description: Price per input token in USD.
                    example: "0.000001"
                completion:
                    type: string
                    description: Price per output token in USD.
                    example: "0.000002"
                image:
                    type: string
                    description: Price per image in USD.
                    example: "0"
                request:
                    type: string
                    description: Price per request in USD.
                    example: "0"
                input_cache_reads:
                    type: string
                    description: Price per cached input token read in USD.
                    example: "0"
                input_cache_writes:
                    type: string
                    description: Price per cached input token write in USD.
                    example: "0"
        Datacenter:
            type: object
            description: Datacenter location information.
            properties:
                country_code:
                    type: string
                    description: ISO 3166-1 alpha-2 country code.
                    example: "US"
        ListModelsResponse:
            type: object
            description: Response containing a list of available models. Compatible with OpenAI SDK.
            properties:
                object:
                    type: string
                    description: The object type, always "list" for list responses.
                    enum: [list]
                    default: list
                    example: list
                data:
                    type: array
                    description: Array of model objects.
                    items:
                        $ref: "#/components/schemas/Model"
            required:
                - object
                - data
        InputReferenceUrl:
            type: object
            required:
                - url
            properties:
                url:
                    type: string
                    description: Image URL or base64 data URI
                    example: https://example.com/uploads/reference1.png
        InputReferenceBase64:
            type: object
            required:
                - base64
            properties:
                base64:
                    type: string
                    description: Base64-encoded image data
                    example: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==
        InputReference:
            oneOf:
                - $ref: "#/components/schemas/InputReferenceUrl"
                - $ref: "#/components/schemas/InputReferenceBase64"
            description: Reference image input (URL or base64-encoded)
        SVGGenerateInput:
            type: object
            required:
                - prompt
            description: Input configuration for text-to-SVG generation
            properties:
                instructions:
                    type: string
                    description: Additional instructions for the model
                    example: Create a minimal, modern icon
                prompt:
                    type: string
                    description: The main text prompt describing the desired SVG
                    example: Generate an icon of a unicorn
                references:
                    type: array
                    maxItems: 4
                    description: |
                        Optional reference images to guide style/composition.
                        Maximum of 4 images.
                    items:
                        $ref: "#/components/schemas/InputReference"
        SVGRequestBase:
            type: object
            required:
                - model
                - stream
            properties:
                model:
                    type: string
                    description: The model to use for generation/editing
                    example: arrow-0.5
                n:
                    type: integer
                    description: Number of SVGs to generate
                    example: 1
                    default: 1
                    minimum: 1
                    maximum: 10
                top_p:
                    type: number
                    description: Nucleus sampling parameter
                    example: 1
                    default: 1
                    minimum: 0
                    maximum: 1
                max_output_tokens:
                    type: integer
                    description: Maximum tokens in the output
                    example: 2560
                    minimum: 1
                    maximum: 16384
                stream:
                    type: boolean
                    description: If true, responses are streamed as Server-Sent Events
                    example: false
                    default: false
                temperature:
                    type: number
                    description: Sampling temperature
                    example: 0.8
                    default: 1.0
                    minimum: 0
                    maximum: 2
                frequency_penalty:
                    type: number
                    default: 0
                    minimum: -2
                    maximum: 2
                    nullable: true
                    description: |
                        Number between -2.0 and 2.0. Positive values penalize new tokens based on
                        their existing frequency in the text so far, decreasing the model's
                        likelihood to repeat the same line verbatim.
                presence_penalty:
                    type: number
                    default: 0
                    minimum: -2
                    maximum: 2
                    nullable: true
                    description: |
                        Number between -2.0 and 2.0. Positive values penalize new tokens based on
                        whether they appear in the text so far, increasing the model's likelihood
                        to talk about new topics.
                seed:
                    type: integer
                    nullable: true
                    deprecated: true
                    description: >
                        This feature is in Beta.

                        If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same `seed` and parameters should return the same result.

                        Determinism is not guaranteed.

        GenerateSVGRequest:
            allOf:
                - $ref: "#/components/schemas/SVGRequestBase"
                - type: object
                  required:
                      - input
                  properties:
                      input:
                          $ref: "#/components/schemas/SVGGenerateInput"
                      canvas:
                          $ref: "#/components/schemas/AspectRatio"
        EditSVGRequest:
            type: object
            description: Not Implemented
        SVGDocument:
            type: object
            required:
                - svg
                - mime_type
            properties:
                svg:
                    type: string
                    description: The generated SVG markup
                    example: <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">...</svg>
                mime_type:
                    type: string
                    description: MIME type of the SVG
                    enum:
                        - image/svg+xml
                    example: image/svg+xml
        SVGResponse:
            type: object
            required:
                - id
                - created
                - data
            properties:
                id:
                    type: string
                    description: A unique identifier for the SVG generation.
                    example: svg-abc123
                created:
                    type: integer
                    description: Unix timestamp of when the response was created
                    example: 1704067200
                data:
                    type: array
                    description: Array of generated SVG documents
                    items:
                        $ref: "#/components/schemas/SVGDocument"
                usage:
                    $ref: "#/components/schemas/Usage"
        # Aspect Ratio
        AspectRatio:
            type: string
            description: |
                Aspect ratio constraint for the generated SVG, specified as "width:height".
                - `1:1`: Square
                - `4:3`: Standard/classic
                - `3:4`: Portrait standard
                - `16:9`: Landscape/widescreen
                - `9:16`: Portrait/tall (mobile)
                - `3:2`: Photo landscape
                - `2:3`: Photo portrait
                - `21:9`: Ultra-wide/cinematic
            enum:
                - "1:1"
                - "4:3"
                - "3:4"
                - "16:9"
                - "9:16"
                - "3:2"
                - "2:3"
                - "21:9"
            default: "1:1"
            example: "1:1"
        # Color System
        HexColor:
            type: string
            description: Hex color in `#RRGGBB` format
            pattern: "^#[0-9A-Fa-f]{6}$"
            example: "#12FBA2"
        NamedColorValue:
            type: object
            description: A color with a semantic name (e.g., "background", "primary", "accent")
            required:
                - value
                - name
            properties:
                value:
                    $ref: "#/components/schemas/HexColor"
                name:
                    type: string
                    description: Semantic label for the color (e.g., "background", "primary", "accent")
                    example: background
        ColorValue:
            description: |
                A color entry: either a plain hex string or an object with name and value.
                - Plain hex: `"#FF5733"` (unnamed, part of general palette)
                - Named: `{ "value": "#FFFFFF", "name": "background" }` (semantic color)
            oneOf:
                - $ref: "#/components/schemas/HexColor"
                - $ref: "#/components/schemas/NamedColorValue"
        ColorAdherence:
            type: string
            description: |
                How strictly the model must adhere to the provided colors.
                - `strict`: Only use exact hex codes provided
                - `tints_and_shades`: Can adjust lightness/opacity, but no new hues
                - `creative`: Palette is a suggestion/starting point
            enum:
                - strict
                - tints_and_shades
                - creative
            default: tints_and_shades
        Colors:
            type: object
            description: The color system configuration for SVG generation
            properties:
                max_colors:
                    type: integer
                    description: Soft limit on unique colors
                    example: 4
                    minimum: 1
                    maximum: 256
                    default: 16
                allow_gradients:
                    type: boolean
                    description: If true, allows <linearGradient> and <radialGradient> definitions
                    default: false
                values:
                    type: array
                    description: |
                        List of colors to use. Supports both named and unnamed entries:
                        - Named: `{ "value": "#FFFFFF", "name": "background" }` for semantic colors
                        - Unnamed: `"#FF5733"` for general palette colors
                    items:
                        $ref: "#/components/schemas/ColorValue"
                    example:
                        - value: "#FFFFFF"
                          name: background
                        - value: "#1A1A1A"
                          name: primary
                        - value: "#12FBA2"
                          name: accent
                        - "#FF5733"
                        - "#00BFFF"
                    x-go-type-skip-optional-pointer: true
                adherence:
                    $ref: "#/components/schemas/ColorAdherence"
        # Stroke Styling
        StrokeLineCap:
            type: string
            description: |
                The shape at the end of open paths.
                - `butt`: Flat edge at the exact endpoint
                - `round`: Rounded edge extending past endpoint
                - `square`: Square edge extending past endpoint
            enum:
                - butt
                - round
                - square
            default: round
            example: round
        StrokeLineJoin:
            type: string
            description: |
                The shape at the corners where paths meet.
                - `miter`: Sharp pointed corner
                - `round`: Rounded corner
                - `bevel`: Flat diagonal corner
            enum:
                - miter
                - round
                - bevel
            default: round
            example: round
        FillRule:
            type: string
            description: |
                Algorithm for determining inside/outside of complex paths.
                - `nonzero`: Standard fill rule
                - `evenodd`: Alternating fill based on path crossings
            enum:
                - nonzero
                - evenodd
            default: nonzero
            example: nonzero
        # Style Preset
        StylePreset:
            type: string
            description: |
                Predefined style to apply to the generated SVG.
                - `flat`: Solid fills, no gradients or shadows
                - `outline`: Stroke-based with minimal or no fills
                - `duotone`: Two-color design style
                - `gradient`: Uses gradient fills
                - `isometric`: 3D isometric projection style
                - `hand_drawn`: Organic, sketch-like appearance
            enum:
                - flat
                - outline
                - duotone
                - gradient
                - isometric
                - hand_drawn
            example: outline
        AnimateSVGRequest:
            type: object
            description: Not Implemented
        SVGVectorizeInput:
            type: object
            required:
                - image
            description: Input configuration for image-to-SVG vectorization
            properties:
                image:
                    $ref: "#/components/schemas/InputReference"
                    description: The source image to vectorize (exactly one required)
                instructions:
                    type: string
                    description: Optional instructions for vectorization style
                    example: Simplify to minimal geometric shapes
        VectorizeSVGRequest:
            allOf:
                - $ref: "#/components/schemas/SVGRequestBase"
                - type: object
                  required:
                      - input
                  properties:
                      input:
                          $ref: "#/components/schemas/SVGVectorizeInput"
                      canvas:
                          $ref: "#/components/schemas/AspectRatio"
                      simplify_if_needed:
                          type: boolean
                          description: |
                              If true, the image is analyzed for vectorizability. Images deemed
                              unsuitable (e.g., photos with complex textures) are automatically
                              simplified before vectorization to improve results.
                          default: false
                          example: true
        VectorizabilityCheckRequest:
            type: object
            required:
                - image
            description: Request to check if an image is suitable for vectorization
            properties:
                image:
                    $ref: "#/components/schemas/InputReference"
                    description: The image to analyze
        VectorizabilityCheckResponse:
            type: object
            required:
                - vectorizable
            description: Result of vectorizability check
            properties:
                vectorizable:
                    type: boolean
                    description: Whether the image is suitable for vectorization
                    example: true
        GenerateIconRequest:
            type: object
            description: Not Implemented
        SVGStreamEvent:
            description: |
                Streaming event for SVG operations (SSE format).
                Events flow in up to three phases:
                1. `*.reasoning` - Model thinking about design approach (create/edit/animate only)
                2. `*.draft` - Streaming partial SVG chunks as generated
                3. `*.content` - Final postprocessed, optimized SVG
            oneOf:
                # Create events (has reasoning)
                - $ref: "#/components/schemas/SVGGenerateReasoningEvent"
                - $ref: "#/components/schemas/SVGGenerateDraftEvent"
                - $ref: "#/components/schemas/SVGGenerateContentEvent"
                # Vectorize events (no reasoning - just tracing)
                - $ref: "#/components/schemas/SVGVectorizeDraftEvent"
                - $ref: "#/components/schemas/SVGVectorizeContentEvent"
                # Edit events (has reasoning)
                - $ref: "#/components/schemas/SVGEditReasoningEvent"
[...]
